
/* -------------------- 筛选条件 -------------------- */

.condition {
	color: #333;
	text-align: right;
}
.condition li {
	display: inline-block;
}
.condition li a {
	padding: 0 0.8rem;
}
.condition li a.active {
	color: #ffd700;
}


/* -------------------- 通知列表 -------------------- */

.list li {
	margin-top: 10px;
	padding: 0.5rem 1rem;
	border: 1px solid #333;
}
.list li span {
	display: inline-block;
	vertical-align: middle;
}
.list li span.state {
	width: 6rem;
	color: #333;
	font-size: 2.4rem;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.list li:hover span.state.yushou {
	color: #ffd700;
}
.list li:hover span.state.quxiao {
	color: #f00;
}
.list li:hover span.state.biangeng {
	color: #0f0;
}
.list li p {
	display: inline-block;
	width: -webkit-calc(100% - 16rem);
	width: -moz-calc(100% - 16rem);
	width: -ms-calc(100% - 16rem);
	width: -o-calc(100% - 16rem);
	width: calc(100% - 16rem);
	vertical-align: middle;
	cursor: pointer;
}
.list li span.time {
	width: 10rem;
	color: #333;
	font-size: 1.2rem;
	text-align: right;
}