<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>演出-孤岛音乐平台</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common/common.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common/frame.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/show/show.css">
</head>
<body>

<div id="gudao">
	<!-- 导航条 -->
	<navbar></navbar>

	<!-- 内容 -->
	<div id="show" class="container content">
		<!-- 筛选条件 -->
		<div class="condition" v-on:click="getShowByCondition">
			<ul class="sort">
				<p>演出排序</p>
				<li><a class="active">按时间</a></li>
				<li><a>按热度</a></li>
			</ul>
			<ul class="place">
				<p>演出地点</p>
				<li><a class="active">全部</a></li>
				<li v-for="place in places"><a>{{place}}</a></li>
			</ul>
			<ul class="state">
				<p>演出状态</p>
				<li><a class="active">全部</a></li>
				<li><a>预售</a></li>
				<li><a>取消</a></li>
				<li><a>变更</a></li>
				<li><a>结束</a></li>
			</ul>
		</div>

		<!-- 演出列表 -->
		<div v-show="!shows" class="no-data">
			<img src="__PUBLIC__/img/common/noData.png">
			<span></span>
			<p>没有相关数据</p>
		</div>
		<ul class="row show-list">
			<li v-for="show in shows" class="col-sm-6 col-md-4">
				<div class="show-content" v-on:click="toShowDetail(show.show_id)">
					<div class="img">
						<img v-if="show.show_poster" :src="'__PUBLIC__/img/show/' + show.show_poster">
						<img v-else src="__PUBLIC__/img/show/default.jpg">
					</div><div class="info">
						<p class="name text-overflow-ellipsis">{{show.show_name}}</p>
						<p class="band text-overflow-ellipsis"><span class="glyphicon glyphicon-headphones"></span><span v-for="band in show.band">{{band.band_name}}&ensp;/&ensp;</span></p>
						<p class="place text-overflow-ellipsis"><span class="glyphicon glyphicon-map-marker"></span>{{show.show_place}}</p>
						<p class="time text-overflow-ellipsis"><span class="glyphicon glyphicon-time"></span>{{show.show_time}}</p>
						<p class="want"><span class="glyphicon glyphicon-eye-open"></span><span class="num">{{show.want}}</span>人想看</p>
						<span v-if="show.show_state == '1'" class="state yushou">/&ensp;预售</span>
						<span v-else-if="show.show_state == '2'" class="state quxiao">/&ensp;取消</span>
						<span v-else-if="show.show_state == '3'" class="state biangeng">/&ensp;变更</span>
						<span v-else-if="show.show_state == '4'" class="state">/&ensp;结束</span>
					</div>
				</div>
			</li>
		</ul>
		<div class="no-more">
			<span></span>
			<p>没有更多数据</p>
		</div>
	</div>

	<!-- 底部 -->
	<back-to-top></back-to-top>
	<copyright></copyright>
</div>

<script type="text/javascript" src="__PUBLIC__/js/common/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/vue.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/component.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/frame.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/show/show.js"></script>
</body>
</html>