<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
</head>
<body>
<script type="text/javascript" src="__PUBLIC__/js/common/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
$(function() {

	// 按页获取乐队
	// $.ajax({
	// 	url: "Band/getBands",
	// 	type: "GET",
	// 	dataType: "json",
	// 	data: {
	// 		"pageIndex": 1,
	// 		"pageSize": 10
	// 	},
	// 	success: function(result) {
	// 		console.log(result);
	// 	}
	// });

	// 删除乐队
	// $.ajax({
	// 	url: "Band/deleteBand",
	// 	type: "POST",
	// 	dataType: "json",
	// 	data: {
	// 		"id": 50
	// 	},
	// 	success: function(result) {
	// 		console.log(result);
	// 	}
	// });

	// 删除乐队
	// $.ajax({
	// 	url: "Band/addBand",
	// 	type: "POST",
	// 	dataType: "json",
	// 	data: {
	// 		"name": "aaa",
	// 		"intro": "aaaaaaaaa",
	// 		"initial": "A"
	// 	},
	// 	success: function(result) {
	// 		console.log(result);
	// 	}
	// });

	// 删除乐队
	// $.ajax({
	// 	url: "Band/modifyBand",
	// 	type: "POST",
	// 	dataType: "json",
	// 	data: {
	// 		"id": 49,
	// 		"initial": "A"
	// 	},
	// 	success: function(result) {
	// 		console.log(result);
	// 	}
	// });
});
</script>
</body>
</html>