<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common/common.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common/frame.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/band/bandDetail.css">
<script type="text/javascript" src="__PUBLIC__/js/common/jquery-3.2.1.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/bootstrap.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/vue.js"></script>
</head>
<body>

<div id="gudao">	
	<!-- 导航条 -->
	<navbar></navbar>

	<!-- 内容 -->
	<div id="band-detail" class="container content">
		<!-- 基本信息 -->
		<div class="top">
			<div class="img">
				<img v-if="band.band_cover" :src="'__PUBLIC__/img/band/' + band.band_id + '/' + band.band_cover" class="thumbnail">
				<img v-else src="__PUBLIC__/img/band/default.jpg" class="thumbnail">
			</div><div class="info">
				<p class="name">{{band.band_name}}</p>
				<pre class="intro">{{band.band_intro}}</pre>
				<!-- “支持”按钮 -->
				<button class="support" :class="{active: support}" v-on:click="toggleSupport"><span class="glyphicon glyphicon-heart-empty"></span><span class="num">{{supportNum}}</span>人支持</button>
			</div>
		</div>
		<!-- 标签页 -->
		<div>
			<!-- 标签页选项卡 -->
			<ul class="tablist nav nav-tabs" role="tablist" v-on:click="switchTab">
				<li class="tab1 active" role="presentation"><a href="#show" aria-controls="show" role="tab" data-toggle="tab">演出</a></li>
				<li class="tab2" role="presentation"><a href="#picture" aria-controls="picture" role="tab" data-toggle="tab">图片</a></li>
				<li class="tab3" role="presentation"><a href="#comment" aria-controls="comment" role="tab" data-toggle="tab">评论</a></li>
				<span class="underline tab1"></span>
			</ul>
			<!-- 标签页内容 -->
			<div class="tab-content">
				<!-- 演出列表 -->
				<div role="tabpanel" class="tab-pane fade in active" id="show">
					<ul class="row">
						<li v-for="show in shows" class="col-xs-6 col-sm-3">
							<div class="show-list" v-on:click="toShowDetail(show.show_id)">
								<div class="img">
									<img v-if="show.show_poster" :src="'__PUBLIC__/img/show/' + show.show_poster">
									<img v-else src="__PUBLIC__/img/show/default.jpg">
								</div>
								<p class="name text-overflow-ellipsis">{{show.show_name}}</p>
								<p>{{show.show_place}}</p>
								<p>{{show.show_time}}</p>
							</div>
						</li>
					</ul>
				</div>
				<!-- 图片列表 -->
				<div role="tabpanel" class="tab-pane fade" id="picture">
					<ul class="row">
						<li v-for="picture in pictures" class="col-xs-6 col-sm-3">
							<div class="picture-list">
								<div class="img">
									<img v-if="picture && band.band_id" :src="'__PUBLIC__/img/band/' + band.band_id + '/' + picture" class="thumbnail">
									<img v-else src="">
								</div>
							</div>
						</li>
					</ul>
				</div>
				<!-- 评论列表 -->
				<div role="tabpanel" class="tab-pane fade" id="comment">
					<!-- 评论框 -->
					<div class="send-box">
						<div class="media">
							<div class="media-left">
								<a v-if="loginFlag" href="../User">
									<img class="media-object" :src="'__PUBLIC__/img/user/' + user.headshot">
								</a>
								<a v-else href="../Index/login">
									<img class="media-object" src="__PUBLIC__/img/user/default.jpg">
								</a>
							</div>
							<div class="media-body">
								<textarea maxlength="140"></textarea>
								<div class="bottom">
									<p><span>0</span>/140</p>
									<button class="send" v-on:click="sendComment">发送</button>
								</div>
							</div>
						</div>
					</div>
					<!-- 评论列表 -->
					<ul class="comment-list media-list">
						<li v-for="comment in comments" :commentid="comment.comment_id" :userid="comment.user_id" class="comment media">
							<div class="media-left">
								<a :href="'../User/user?id=' + comment.user_id">
									<img v-if="comment.user.headshot" class="media-object" :src="'__PUBLIC__/img/user/' + comment.user.headshot">
									<img v-else class="media-object" src="__PUBLIC__/img/user/default.jpg">
								</a>
							</div>
							<div class="media-body">
								<div class="comment-content">
									<div class="media-heading">
										<p class="name"><a :href="'../User/user?id=' + comment.user_id">{{comment.user.username}}</a></p>
										<p class="time">{{comment.comment_time}}</p>
									</div>
									<p>{{comment.comment_content}}</p>
									<a class="reply" v-on:click="toggleShowReplyBox"><span class="glyphicon glyphicon-comment"></span>回复</a>
								</div>
								<!-- 回复框 -->
								<div class="reply-box">
									<textarea maxlength="100"></textarea>
									<div class="bottom">
										<p><span>0</span>/100</p>
										<button class="send" v-on:click="sendReply">发送</button>
									</div>
								</div>
								<!-- 回复列表 -->
								<ul class="reply-list media-list">
									<li v-for="reply in comment.reply" class="media">
										<div class="media-left">
											<a :href="'../User/user?id=' + reply.user_id">
												<img v-if="reply.user.headshot" class="media-object" :src="'__PUBLIC__/img/user/' + reply.user.headshot">
												<img v-else class="media-object" src="__PUBLIC__/img/user/default.jpg">
											</a>
										</div>
										<div class="media-body">
											<div class="reply-content">
												<div class="media-heading">
													<p class="name"><a :href="'../User/user?id=' + reply.user_id">{{reply.user.username}}</a>&ensp;回复&ensp;<a :href="'../User/user?id=' + reply.target_id">{{reply.target.username}}</a></p>
													<p class="time">{{reply.reply_time}}</p>
												</div>
												<p>{{reply.reply_content}}</p>
												<a class="reply" v-on:click="toggleShowReplyBox"><span class="glyphicon glyphicon-comment"></span>回复</a>
											</div>
											<!-- 回复框 -->
											<div class="reply-box">
												<textarea maxlength="100"></textarea>
												<div class="bottom">
													<p><span>0</span>/100</p>
													<button class="send" v-on:click="sendReply">发送</button>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- 底部 -->
	<back-to-top></back-to-top>
	<copyright></copyright>
</div>


<script type="text/javascript" src="__PUBLIC__/js/common/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/component.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/frame.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/band/bandDetail.js"></script>

<script>
$(function() {
});
</script>

</body>
</html>