.content {
	height: -webkit-calc(100% - 41px);
	height: -moz-calc(100% - 41px);
	height: -ms-calc(100% - 41px);
	height: -o-calc(100% - 41px);
	height: calc(100% - 41px);
}


.tab {
	border-bottom: 1px solid #333;
	text-align: center;
}

.tab li {
	display: inline-block;
	color: #333;
}
.tab li.active {
	color: #ffd700;
	border-bottom: 1px solid #ffd700;
}




.tab-content {
	height: 100%;
}
.tab-content div {
	height: 100%;
}
.tab-content div form {
	width: 30%;
	margin: auto;
}
.tab-content div form div.input {
	font-size: 0;
}
.tab-content div form div.input span {
	color: #333;
	font-size: 2.4rem;
	vertical-align: middle;
}
.tab-content div form div.input input {
	width: -webkit-calc(100% - 2.4rem);
	width: -moz-calc(100% - 2.4rem);
	width: -ms-calc(100% - 2.4rem);
	width: -o-calc(100% - 2.4rem);
	width: calc(100% - 2.4rem);
	padding-left: 1rem;
	margin-top: 3px;
	color: #f2f2f2;
	font-size: 1.6rem;
	vertical-align: middle;
}
.tab-content div form div.input input[name="code"] {
	width: -webkit-calc(100% - 10.4rem);
	width: -moz-calc(100% - 10.4rem);
	width: -ms-calc(100% - 10.4rem);
	width: -o-calc(100% - 10.4rem);
	width: calc(100% - 10.4rem);
}
.tab-content div form div.input .getCode {
	width: 8rem;
    border: none;
    background: none;
    font-size: 1.4rem;
    text-align: center;
    vertical-align: middle;
}
.tab-content div form button.next {
	width: 100%;
	margin-top: 3rem;
	padding: 0.8rem 0;
	font-size: 1.6rem;
}


.tab-content div.step2,
.tab-content div.step3 {
	display: none;
}


.tab-content div.step3 div {
	width: 100%;
	height: auto;
}
.tab-content div.step3 div span.glyphicon {
	display: block;
	color: #ffd700;
	font-size: 12rem;
	text-align: center;
}
.tab-content div.step3 div p {
	margin: 3rem 0 6rem;
	text-align: center;
}
.tab-content div.step3 div p span {
	color: #ffd700;
}
.tab-content div.step3 div p a {
	color: #f2f2f2;
	text-decoration: underline;
}
.tab-content div.step3 div p a:hover {
	color: #ffd700;
}