<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title></title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common/common.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index/index.css">

<script src="__PUBLIC__/js/common/jquery-3.2.1.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/js/common/md5.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="father">		
		<div class="child">
			<img src="__PUBLIC__/img/index/gu.png" class="gu">
			<img src="__PUBLIC__/img/index/gudao.png" class="gudao">
			<img src="__PUBLIC__/img/index/dao.png" class="dao">
		</div>
	</div>
<script>
	// localStorage.removeItem("test");
	// console.log(localStorage.getItem("test"));
	setTimeout(function(){location.href="index/home"},4000)
</script>
</body>
</html>