<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title></title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common/common.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index/index.css">
</head>
<body>
<div class="father">		
	<div class="child">
		<img src="__PUBLIC__/img/index/gu.png" class="gu">
		<img src="__PUBLIC__/img/index/gudao.png" class="gudao">
		<img src="__PUBLIC__/img/index/dao.png" class="dao">
	</div>
</div>
<script type="text/javascript" src="__PUBLIC__/js/common/jquery-3.2.1.js"></script>
<script>
$(function() {
	setTimeout(function(){
		location.href = "../../GuDao/Index/home";
	}, 3000);
});
</script>
</body>
</html>