<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common/common.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common/frame.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index/register.css">
</head>
<body>

<div id="gudao">	
	<!-- 导航条 -->
	<navbar></navbar>

	<!-- 内容 -->
	<div class="container content">
		<div class="left">
			<img src="__PUBLIC__/img/index/register.png">
		</div>
		<div class="right">
			<form id="signUp">
					<div class="input">
							<span class="glyphicon glyphicon-envelope"></span>
							<input type="email" name="email" placeholder="邮箱" autocomplete="off">
					</div>
					<div class="input code">
							<span class="glyphicon glyphicon-ok-circle"></span>
							<input type="text" maxlength="4" name="code" placeholder="验证码" autocomplete="off">
							<button class="getCode">获取验证码</button>
					</div>
					<div class="input">
							<span class="glyphicon glyphicon-lock"></span>
							<input type="password" name="password" placeholder="密码" autocomplete="off">
					</div>
					<div class="input">
							<span class="glyphicon glyphicon-lock"></span>
							<input type="password" name="passwordCheck" placeholder="确认密码" autocomplete="off">
					</div>
					<button class="signUpBtn">注册</button>
					<p class="login">已有账号？点击<a href="login">登录</a></p>
			</form>
		</div>
	</div>

	<!-- 底部 -->
	<back-to-top></back-to-top>
	<copyright></copyright>
</div>

<script type="text/javascript" src="__PUBLIC__/js/common/jquery-3.2.1.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/bootstrap.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/vue.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/component.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/frame.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/index/register.js"></script>
</body>
</html>