<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common/common.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common/frame.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index/search.css">


<script type="text/javascript" src="__PUBLIC__/js/common/jquery-3.2.1.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/bootstrap.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/vue.js"></script>
</head>
<body>

<div id="gudao">	
	<!-- 导航条 -->
	<navbar></navbar>

	<!-- 内容 -->
	<div id="search" class="container content">
		
		<!-- 搜索框 -->
		<div class="searchbox1"> 
			<input type="text" v-model="keyword"><button>
				<span class="glyphicon glyphicon-search"></span>
			</button>
		</div>
		<div class="conditions1">
			<span>全部</span>|<span>通知</span>|<span>演出</span>|<span>乐队</span>
		</div>

		<p>{{editedKey}}</p>

		<!-- 通知模块 -->
		<div class="notices">
			<div class="head">
				<p class="title">通知</p>
				<a href="" class="more">MORE</a>
			</div>
			<ul class="body">
				<li v-for="notice in notices">
					<p><span  class="state" v-if="notice.notice_type=='1'">预售/</span><span  class="state" v-if="notice.notice_type=='2'">取消/</span><span  class="state" v-if="notice.notice_type=='3'">变更/</span>&ensp;{{notice.notice_content}}</p>
					<p class="time">{{notice.notice_time}}</p>
				</li>					
			</ul>
		</div>

		<!-- 演出模块 -->
		<div class="shows">
			<div class="head">
				<p class="title">演出</p>
				<a href="" class="more">MORE</a>
			</div>			
			<ul class="row" >
				<li v-for="(show, index) in shows" class="col-xs-6 col-sm-3" @click = "goShow(index)"> 
					<div class="show-list" >
						<img :src="'__PUBLIC__/img/show/' + show.show_poster">
						<p class="name text-overflow-ellipsis">{{show.show_name}}</p>
						<p>{{show.show_place}}</p>
						<p>{{show.show_time}}</p>
					</div>
				</li>
			</ul>
		</div>

		<!-- 乐队模块 -->
		<div class="bands">
			<div class="head">
				<p class="title">演出</p>
				<a href="" class="more">MORE</a>
			</div>			
			<ul class="row">
				<li v-for="(band,index) in bands" class="col-xs-6 col-sm-3" @click="goShow(index)">
					<div class="band-list">
						<div class="img">
							<img v-if="band.band_cover" :src="'__PUBLIC__/img/band/' + band.band_id + '/' + band.band_cover">
							<img v-else src="__PUBLIC__/img/band/default.jpg">
						</div>
						<p><span></span>{{band.band_name}}</p>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<!-- 底部 -->
	<back-to-top></back-to-top>
	<copyright></copyright>
</div>


<script type="text/javascript" src="__PUBLIC__/js/common/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/component.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/frame.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/index/search.js"></script>

<script>

</script>

</body>
</html>