<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common/common.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common/frame.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/user/user.css">
</head>
<body>

<div id="gudao">	
	<!-- 导航条 -->
	<navbar></navbar>

	<!-- 内容 -->
	<div class="container content">
		<!-- 基本信息 -->
		<div class="top">
			<div class="img">
				<img v-if="info.headshot" :src="'__PUBLIC__/img/user/' + info.headshot" class="thumbnail">
				<img v-else src="__PUBLIC__/img/user/default.jpg" class="thumbnail">
			</div><div class="info">
				<div class="data">
					<div class="want">
						<p>想看演出</p>
						<p class="num" @click="toShowTab">{{want}}</p>
					</div><div class="support">
						<p>支持乐队</p>
						<p class="num" @click="toBandTab">{{support}}</p>
					</div>
				</div>
				<p class="name">{{info.username}}</p>
				<!-- 信息列表 -->
				<ul>
					<li class="gender">
						<span class="glyphicon glyphicon-user"></span>
						<p v-if="info.gender == 'M'">男</p>
						<p v-else>女</p>
					</li>
					<li class="age">
						<span class="glyphicon glyphicon-hourglass"></span>
						<p>{{info.age}}</p>
					</li>
					<li class="intro">
						<span class="glyphicon glyphicon-bookmark"></span>
						<p>{{info.intro}}</p>
					</li>
				</ul>
			</div>
		</div>

		<!-- 标签页 -->
		<div>
			<ul class="tablist nav nav-tabs" role="tablist" @click="switchTab">
				<li class="tab1 active" role="presentation"><a href="#activity" aria-controls="activity" role="tab" data-toggle="tab">动态</a></li>
				<li class="tab2" role="presentation"><a href="#show" aria-controls="show" role="tab" data-toggle="tab">演出</a></li>
				<li class="tab3" role="presentation"><a href="#band" aria-controls="band" role="tab" data-toggle="tab">乐队</a></li>
				<span class="underline tab1"></span>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="activity">
					<ul>
						<li v-for="item in activity">
							<div class="left">
								<p>{{item.time}}</p>
							</div><span class="dot-span"></span><div class="right">
								<p v-if="item.type == 'show'">想看&ensp;<a :href="'../Show/detail?id=' + item.show.show_id">{{item.show.show_name}}</a></p>
								<p v-if="item.type == 'band'">支持&ensp;<a :href="'../Band/detail?id=' + item.band.band_id">{{item.band.band_name}}</a></p>
								<div :class="{band: item.type == 'band'}" class="pic">
									<div class="content">
										<div class="triangle">
											<span class="outer triangle-span"></span><span class="inner triangle-span"></span>
										</div>
										<img v-if="item.type == 'show'" :src="'__PUBLIC__/img/show/' + item.show.show_poster">
										<img v-if="item.type == 'band' && item.band.band_cover" :src="'__PUBLIC__/img/band/' + item.band.band_id + '/' + item.band.band_cover">
										<img v-if="item.type == 'band' && !item.band.band_cover" src="__PUBLIC__/img/band/default.jpg">
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="show">
					<ul class="row">
						<li v-for="show in shows" class="col-xs-6 col-sm-3">
							<div class="show-list" @click="toShowDetail(show.show_id)">
								<div class="img">
									<img v-if="show.show_poster" :src="'__PUBLIC__/img/show/' + show.show_poster">
									<img v-else src="__PUBLIC__/img/show/default.jpg">
								</div>
								<p class="name text-overflow-ellipsis">{{show.show_name}}</p>
								<p>{{show.show_place}}</p>
								<p>{{show.show_time}}</p>
							</div>
						</li>
					</ul>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="band">
					<ul class="row">
						<li v-for="band in bands" class="col-xs-6 col-sm-3">
							<div class="band-list" @click="toBandDetail(band.band_id)">
								<div class="img">
									<img v-if="band.band_cover" :src="'__PUBLIC__/img/band/' + band.band_id + '/' + band.band_cover">
									<img v-else src="__PUBLIC__/img/band/default.jpg">
								</div>
								<p>{{band.band_name}}</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- 底部 -->
	<back-to-top></back-to-top>
	<copyright></copyright>
</div>


<script type="text/javascript" src="__PUBLIC__/js/common/jquery-3.2.1.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/bootstrap.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/vue.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/component.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/frame.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/user/user.js"></script>
</body>
</html>