
/* -------------------- 基本信息 -------------------- */

.top {
	margin-bottom: 2rem;
	position: relative;
}

.top .img {
	display: inline-block;
	width: 30%;
	height: 0;
	padding-bottom: 30%;
	overflow: hidden;
	position: relative;
}
.top .img img {
	/*width: 30%;
	cursor: pointer;
	vertical-align: top;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;*/

	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.top .img img:hover {
	opacity: 0.8;
}


.top .info {
	display: inline-block;
	width: 70%;
	padding: 1rem 2rem;
	vertical-align: top;
}

.top .info .data {
	position: absolute;
	right: 2rem;
	top: 1rem;
}
.top .info .data div {
	display: inline-block;
	width: 8rem;
	text-align: center;
}
.top .info .data div.want {
	border-right: 1px solid #333;
}
.top .info .data div p {
	margin: 0.5rem 0;
	color: #333;
	font-size: 1.2rem;
}
.top .info .data div p.num {
	color: #ffd700;
	font-size: 1.4rem;
	cursor: pointer;
}

.top .info .name {
	height: 5rem;
	color: #ffd700;
	font-size: 3rem;
}

.top .info ul li {
	display: inline-block;
	margin: 0.6rem 0;
}
.top .info ul li.gender {
	width: 11rem;
}
.top .info ul li.age {
	margin-left: 2rem;
}
.top .info ul li.intro {
	display: block;
}
.top .info ul li .glyphicon {
	margin: 3px 0.4rem 0 0;
	font-size: 1.6rem;
	vertical-align: top;
}
.top .info ul li p {
	display: inline-block;
	line-height: 160%;
}
.top .info ul li.intro p {
	max-width: -webkit-calc(100% - 3rem);
	max-width: -moz-calc(100% - 3rem);
	max-width: -ms-calc(100% - 3rem);
	max-width: -o-calc(100% - 3rem);
	max-width: calc(100% - 3rem);
}

.top .info .modify-btn {
	position: absolute;
	bottom: 1rem;
	right: 2rem;
}
.top .info .modify-btn a {
	margin: 0 0.5rem;
	font-size: 1.2rem;
}
.top .info .modify-btn a span {
	margin: 0 0.5rem;
}


.top .modify-form {
	display: none;
	width: 70%;
	padding: 1rem 2rem;
	vertical-align: top;
}
.top .modify-form div {}
.top .modify-form div span {
	color: #333;
}
.top .modify-form div p {
	display: inline-block;
	margin-right: 0.8rem;
	color: #333;
}

.top .modify-form .name {
	width: 100%;
    border: 1px solid #ffd700;
    border-left: none;
    border-right: none;
    font-size: 3rem;
    padding: 1rem;
}

.top .modify-form .gender {
	display: inline-block;
	margin-right: 2rem;
}
.top .modify-form .gender .radio-box {
	display: inline-block;
}
.top .modify-form .gender .radio-box .radio {
	display: inline-block;
	cursor: pointer;
}
.top .modify-form .gender .radio-box .radio span {
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
}
.top .modify-form .gender .radio-box .radio .outer {
	width: 10px;
	height: 10px;
	border: 1px solid #f2f2f2;
}
.top .modify-form .gender .radio-box .radio .inner {
	display: none;
	width: 4px;
	height: 4px;
	background: #f2f2f2;
	position: absolute;
	top: 9px;
	left: 3px;
}
.top .modify-form .gender .radio-box .radio.checked .inner {
	display: inline-block;
}
.top .modify-form .gender .radio-box .radio p {
	display: inline-block;
	margin: 0;
	color: #f2f2f2;
}

.top .modify-form .birthday {
	display: inline-block;
}
.top .modify-form .birthday input {
	width: 8rem;
	cursor: pointer;
}

.top .modify-form .intro {}
.top .modify-form .intro textarea {
	width: calc(100% - 8rem);
	height: 6rem;
    padding: 0.5rem;
    border: 1px solid #ffd700;
    border-left: none;
    border-right: none;
    vertical-align: top;
    overflow: hidden;
}
.top .modify-form .intro .count {
	display: block;
	text-align: right;
    margin: 0.3rem 0.5rem 0 0;
    text-align: right;
}
.top .modify-form .intro .count span {}

.top .modify-form .button {
	margin-top: 1rem;
	position: absolute;
	right: 2rem;
}
.top .modify-form .button button {
	padding: 0.3rem 1.5rem;
    margin: 0 0.3rem;
    font-size: 1.2rem;
}


/* -------------------- 标签页选项卡 -------------------- */

.tablist {
	border-bottom: 1px solid #333;
	font-size: 0;
	text-align: center;
	position: relative;
}

.tablist li {
	display: inline-block;
	width: 70px;
	float: none;
	font-size: 1.4rem;
}
.tablist li a {
	margin: 0;
	padding: 8px 0;
	border: none;
}
.tablist li a:hover,
.tablist li a:focus,
.tablist li.active a:hover,
.tablist li.active a:focus {
	background: none;
	border: none;
	color: #ffd700;
}
.tablist li.active a {
	background: none;
	border: none;
	color: #ffd700;
}

.tablist .underline {
	display: block;
	width: 70px;
	height: 1px;
	background: #ffd700;
	position: absolute;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.tablist .underline.tab1 {
	left: -webkit-calc((100% - 70px * 4) / 2 + 70px * 0);
	left: -moz-calc((100% - 70px * 4) / 2 + 70px * 0);
	left: -ms-calc((100% - 70px * 4) / 2 + 70px * 0);
	left: -o-calc((100% - 70px * 4) / 2 + 70px * 0);
	left: calc((100% - 70px * 4) / 2 + 70px * 0);
}
.tablist .underline.tab2 {
	left: -webkit-calc((100% - 70px * 4) / 2 + 70px * 1);
	left: -moz-calc((100% - 70px * 4) / 2 + 70px * 1);
	left: -ms-calc((100% - 70px * 4) / 2 + 70px * 1);
	left: -o-calc((100% - 70px * 4) / 2 + 70px * 1);
	left: calc((100% - 70px * 4) / 2 + 70px * 1);
}
.tablist .underline.tab3 {
	left: -webkit-calc((100% - 70px * 4) / 2 + 70px * 2);
	left: -moz-calc((100% - 70px * 4) / 2 + 70px * 2);
	left: -ms-calc((100% - 70px * 4) / 2 + 70px * 2);
	left: -o-calc((100% - 70px * 4) / 2 + 70px * 2);
	left: calc((100% - 70px * 4) / 2 + 70px * 2);
}
.tablist .underline.tab4 {
	left: -webkit-calc((100% - 70px * 4) / 2 + 70px * 3);
	left: -moz-calc((100% - 70px * 4) / 2 + 70px * 3);
	left: -ms-calc((100% - 70px * 4) / 2 + 70px * 3);
	left: -o-calc((100% - 70px * 4) / 2 + 70px * 3);
	left: calc((100% - 70px * 4) / 2 + 70px * 3);
}


/* -------------------- 标签页内容 -------------------- */

.tab-content .tab-pane {
}


/* -------------------- 标签页内容 -------------------- */

#activity {
	padding: 2rem 12rem 0;
}
#activity ul {
	padding: 0 5%;
}
#activity ul li {
	height: 70px;
}
#activity ul li>div {
	display: inline-block;
	height: 100%;
}


#activity ul li .left {
	padding: 2rem 0;
	border-right: 1px solid #333;
}
#activity ul li .left p {
	width: 200px;
	text-align: center;
}


#activity ul li .dot-span {
	width: 6px;
	height: 6px;
	background: #333;
	z-index: 10;
	position: relative;
	left: -3px;
}


#activity ul li .right {
	padding: 2rem 2rem;
	margin-left: -6px;
	border-left: 1px solid #333;
	position: relative;
}

#activity ul li .right p a {
	color: #ffd700;
}

#activity ul li .right .pic {
	display: none;
	position: absolute;
	right: -15rem;
    top: -7.3rem;
}
#activity ul li .right .pic.band {
	top: -4.7rem;
}
#activity ul li .right .pic .content {
	display: inline-block;
	width: 15rem;
	padding: 1rem;
	background: #0d0d0d;
	border: 1px solid #333;
	border-radius: 0.2rem;
	position: relative;
}
#activity ul li .right .pic .content .triangle {
	position: absolute;
	left: -12px;
	top: 50%;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}
#activity ul li .right .pic .content .triangle span.outer {
	border-width: 10px 12px 10px 0;
	border-right-color: #333;
}
#activity ul li .right .pic .content .triangle span.inner {
	border-width: 10px 12px 10px 0;
	border-right-color: #0d0d0d;
	position: relative;
	left: -10px;
}


#activity ul li:hover p {
	font-size: 1.6rem;
}
#activity ul li:hover .dot-span {
	width: 10px;
    height: 10px;
    background: #ffd700;
    left: -5px;
}
#activity ul li:hover .right {
	margin-left: -10px;
}
#activity ul li:hover .right .pic {
	display: inline-block;
}


/* -------------------- 消息 -------------------- */

#message {
	padding: 2rem 12rem 0;
}


#message .read-all {
	text-align: right;
}
#message .read-all button {
    padding: 0.2rem 1rem;
	font-size: 1.2rem;
}


#message ul li {
	padding: 1rem;
	border-bottom: 1px solid #333;
}

#message ul li .content {
	position: relative;
	cursor: pointer;
}
#message ul li .content p {
	margin-right: 2rem;
}
#message ul li .content p a {
	color: #ffd700;
}
#message ul li .content span {
	color: #ffd700;
	position: absolute;
	right: 3px;
	top: 3px;
}
#message ul li.read .content,
#message ul li.read .content p a,
#message ul li.read .content span {
	color: #333;
}
#message ul li.read .content p a:hover {
	color: #ffd700;
}


#message ul li .reply-box {
	/*display: none;*/
}

#message ul li .reply-box textarea {
	width: 100%;
	height: 7rem;
	margin: 0.6rem 0 0.3rem 0;
	border: 1px solid #333;
	border-radius: 0.2rem;
	padding: 1rem;
}

#message ul li .reply-box .bottom {
	text-align: right;
}
#message ul li .reply-box .bottom p {
	display: inline-block;
	color: #333;
	font-size: 1.2rem;
}
#message ul li .reply-box .bottom p span {}
#message ul li .reply-box .bottom button {
	padding: 0.3rem 1.2rem;
	font-size: 1.2rem;
}


#message ul li.close-state .content p {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#message ul li.close-state .content span.close-btn {
	display: none;
}
#message ul li.close-state .reply-box {
	display: none;
}

#message ul li.open-state .content {}
#message ul li.open-state .content span.open-btn {
	display: none;
}
#message ul li.open-state .reply-box {
	display: block;
}


/* -------------------- 演出 -------------------- */

#show {
	padding-top: 2rem;
}
#show ul {
	padding: 0 10px;
}
#show ul li.col-xs-6,
#show ul li.col-sm-3 {
	padding: 0 5px;
}
#show ul li .show-list {
	padding: 10px;
	border: 1px solid #333;
	border-radius: 0.2rem;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
#show ul li .show-list:hover {
	border: 1px solid #ffd700;
}
#show ul li .show-list .img {
	width: 100%;
	height: 0;
	padding-bottom: 142%;
	position: relative;
}
#show ul li .show-list .img img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#show ul li .show-list p {
	margin-top: 5px;
	font-size: 1.2rem;
	line-height: 1.4rem;
}
#show ul li .show-list p.name {
	color: #ffd700;
	font-size: 1.4rem;
}



/*  乐队  */


#band {
	padding-top: 2rem;
}
#band ul {
	padding: 0 10px;
}
#band ul li.col-xs-6,
#band ul li.col-sm-3 {
	padding: 0 5px;
}
#band ul li .band-list {
	padding: 10px;
	border: 1px solid #333;
	border-radius: 0.2rem;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
#band ul li .band-list:hover {
	border: 1px solid #ffd700;
}
#band ul li .band-list .img {
	width: 100%;
	height: 0;
	overflow: hidden;
	position: relative;
}
#band ul li .band-list .img img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#band ul li .band-list .img {
    padding-bottom: 100%;
}

#band ul li .band-list p {
	padding-top: 10px;
	color: #ffd700;
	text-align: center;
	line-height: 2rem;
	position: relative;
}