
/* -------------------- 基本信息 -------------------- */

.top {
	margin-bottom: 2rem;
	position: relative;
}


.top img {
	width: 30%;
	cursor: pointer;
	vertical-align: top;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.top img:hover {
	opacity: 0.8;
}


.top .info {
	display: inline-block;
	width: 70%;
	padding: 1rem 2rem;
	vertical-align: top;
}

.top .info .data {
	position: absolute;
	right: 2rem;
	top: 1rem;
}
.top .info .data div {
	display: inline-block;
	width: 8rem;
	text-align: center;
}
.top .info .data div.want {
	border-right: 1px solid #333;
}
.top .info .data div p {
	margin: 0.5rem 0;
	color: #333;
	font-size: 1.2rem;
}
.top .info .data div p.num {
	color: #ffd700;
	font-size: 1.4rem;
	cursor: pointer;
}

.top .info .name {
	height: 5rem;
	color: #ffd700;
	font-size: 3rem;
}

.top .info ul li {
	display: inline-block;
	margin: 0.6rem 0;
}
.top .info ul li.age {
	margin-left: 2rem;
}
.top .info ul li.intro {
	display: block;
}
.top .info ul li .glyphicon {
	margin: 3px 0.4rem 0 0;
	font-size: 1.6rem;
	vertical-align: top;
}
.top .info ul li p {
	display: inline-block;
	line-height: 160%;
}
.top .info ul li.intro p {
	max-width: -webkit-calc(100% - 3rem);
	max-width: -moz-calc(100% - 3rem);
	max-width: -ms-calc(100% - 3rem);
	max-width: -o-calc(100% - 3rem);
	max-width: calc(100% - 3rem);
}

.top .info .modify-btn {
	position: absolute;
	bottom: 1rem;
	right: 2rem;
}
.top .info .modify-btn a {
	margin: 0 0.5rem;
	font-size: 1.2rem;
}
.top .info .modify-btn a span {
	margin: 0 0.5rem;
}


.top .modify-form {
	/*display: none;*/
	display: inline-block;
	width: 70%;
	padding: 1rem 2rem;
	vertical-align: top;
}
.top .modify-form div {}
.top .modify-form div span {}
.top .modify-form div p {}

.top .modify-form .name {}

.top .modify-form .gender {}
.top .modify-form .gender .radio {}
.top .modify-form .gender .radio input {}

.top .modify-form .birthday {}
.top .modify-form .birthday input {}

.top .modify-form .intro {}
.top .modify-form .intro textarea {}

.top .modify-form .button {}
.top .modify-form .button button {}


/* -------------------- 标签页选项卡 -------------------- */

.tablist {
	border-bottom: 1px solid #333;
	font-size: 0;
	text-align: center;
	position: relative;
}

.tablist li {
	display: inline-block;
	width: 70px;
	float: none;
	font-size: 1.4rem;
}
.tablist li a {
	margin: 0;
	padding: 8px 0;
	border: none;
}
.tablist li a:hover,
.tablist li.active a:hover {
	background: none;
	border: none;
	color: #ffd700;
}
.tablist li.active a {
	background: none;
	border: none;
	color: #ffd700;
}

.tablist .underline {
	display: block;
	width: 70px;
	height: 1px;
	background: #ffd700;
	position: absolute;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.tablist .underline.tab1 {
	left: -webkit-calc((100% - 70px * 4) / 2 + 70px * 0);
	left: -moz-calc((100% - 70px * 4) / 2 + 70px * 0);
	left: -ms-calc((100% - 70px * 4) / 2 + 70px * 0);
	left: -o-calc((100% - 70px * 4) / 2 + 70px * 0);
	left: calc((100% - 70px * 4) / 2 + 70px * 0);
}
.tablist .underline.tab2 {
	left: -webkit-calc((100% - 70px * 4) / 2 + 70px * 1);
	left: -moz-calc((100% - 70px * 4) / 2 + 70px * 1);
	left: -ms-calc((100% - 70px * 4) / 2 + 70px * 1);
	left: -o-calc((100% - 70px * 4) / 2 + 70px * 1);
	left: calc((100% - 70px * 4) / 2 + 70px * 1);
}
.tablist .underline.tab3 {
	left: -webkit-calc((100% - 70px * 4) / 2 + 70px * 2);
	left: -moz-calc((100% - 70px * 4) / 2 + 70px * 2);
	left: -ms-calc((100% - 70px * 4) / 2 + 70px * 2);
	left: -o-calc((100% - 70px * 4) / 2 + 70px * 2);
	left: calc((100% - 70px * 4) / 2 + 70px * 2);
}
.tablist .underline.tab4 {
	left: -webkit-calc((100% - 70px * 4) / 2 + 70px * 3);
	left: -moz-calc((100% - 70px * 4) / 2 + 70px * 3);
	left: -ms-calc((100% - 70px * 4) / 2 + 70px * 3);
	left: -o-calc((100% - 70px * 4) / 2 + 70px * 3);
	left: calc((100% - 70px * 4) / 2 + 70px * 3);
}


/* -------------------- 标签页内容 -------------------- */

.tab-content .tab-pane {
	padding: 2rem 12rem 0;
}