
/* -------------------- 通用 -------------------- */

.head {
	margin-bottom: 0.8rem;
}
.head .title {
	display: inline-block;
	padding: 0.2rem 0.5rem;
	border-top: 1px solid #ffd700;
	border-left: 4px solid #ffd700; 
}
.head .more {
	padding-top: 0.4rem;
	float: right;
}


/* -------------------- 最新通知 -------------------- */

.new-notice ul li {
	height: 41px;
}
.new-notice ul li p {
	display: inline-block;
	cursor: pointer;
}
.new-notice ul li p span {
	color: #333;
	font-size: 2rem;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.new-notice ul li .time {
	padding-top: 0.8rem;
	float: right;
	color: #333;
	font-size: 1.2rem;
	cursor: text;
}

.new-notice ul li:hover p span.yushou {
	color: #ffd700;
}
.new-notice ul li:hover p span.quxiao {
	color: #f00;
}
.new-notice ul li:hover p span.biangeng {
	color: #0f0;
}


/* -------------------- 演出时间表 -------------------- */

.calendar .head .selector {
	display: inline-block;
	padding: 0.2rem 0.5rem;
	float: right;
}
.calendar .head .selector span {
	cursor: pointer;
}
.calendar .head .selector .glyphicon {
	color: #ffd700;
}
.calendar .head .selector p {
	display: inline-block;
}

.calendar .head .form {
	display: none;
	padding: 0.2rem 0.5rem;
	float: right;
}
.calendar .head .form input {
	border-bottom: 1px solid #333;
	color: #ffd700;
	text-align: center;
}
.calendar .head .form input[name="year"] {
	width: 3rem;
}
.calendar .head .form input[name="month"] {
	width: 1.6rem;
}
.calendar .head .form span {
	margin: 0 0.2rem;
	color: #ffd700;
	cursor: pointer;
}


.calendar .body {
	padding: 0 0.5rem;
	border: 1px solid #333;
	border-radius: 0.2rem;
}
.calendar .body div div {
	display: inline-block;
	width: -webkit-calc(100% / 7);
	width: -moz-calc(100% / 7);
	width: -ms-calc(100% / 7);
	width: -o-calc(100% / 7);
	width: calc(100% / 7);
	padding: 1rem 0;
	text-align: center;
}

.calendar .body .week {
	border-bottom: 1px solid #333;
}

.calendar .body .day div.invalid {
	color: #333;
}
.calendar .body .day div.today {
	color: #ffd700;
}
.calendar .body .day div.clickable {
	cursor: pointer;
	position: relative;
}
.calendar .body .day div.clickable .dot-span {
	width: 4px;
	height: 4px;
	background: #ffd700;
	position: absolute;
	bottom: 0.6rem;
    left: -webkit-calc(50% - 2px);
    left: -moz-calc(50% - 2px);
    left: -ms-calc(50% - 2px);
    left: -o-calc(50% - 2px);
    left: calc(50% - 2px);
}
.calendar .body .day div.clickable .count {
	display: none;
}
.calendar .body .day div.clickable:hover {
	padding: 0.8rem 0;
	background: #ffd700;
	color: #0d0d0d;
}
.calendar .body .day div.clickable:hover .num {
	display: none;
}
.calendar .body .day div.clickable:hover .count {
	display: block;
}


/* -------------------- 列表 -------------------- */

.new-show,
.hot-show,
.hot-band {
	padding-top: 2rem;
}
.new-show ul,
.hot-show ul,
.hot-band ul {
	padding: 0 10px;
}
.new-show ul li.col-xs-6,
.new-show ul li.col-sm-3,
.hot-show ul li.col-xs-6,
.hot-show ul li.col-sm-3
.hot-band ul li.col-xs-6,
.hot-band ul li.col-sm-3 {
	padding: 0 5px;
}
.new-show ul li .show-list,
.hot-show ul li .show-list,
.hot-band ul li .band-list {
	padding: 10px;
	border: 1px solid #333;
	border-radius: 0.2rem;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.new-show ul li .show-list:hover,
.hot-show ul li .show-list:hover,
.hot-band ul li .band-list:hover {
	border: 1px solid #ffd700;
}
.new-show ul li .show-list .img,
.hot-show ul li .show-list .img,
.hot-band ul li .band-list .img {
	width: 100%;
	height: 0;
	overflow: hidden;
	position: relative;
}
.new-show ul li .show-list .img img,
.hot-show ul li .show-list .img img,
.hot-band ul li .band-list .img img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.new-show ul li .show-list .img,
.hot-show ul li .show-list .img {
	padding-bottom: 142%;
}
.new-show ul li .show-list p,
.hot-show ul li .show-list p {
	margin-top: 5px;
	font-size: 1.2rem;
	line-height: 1.4rem;
}
.new-show ul li .show-list p.name,
.hot-show ul li .show-list p.name {
	color: #ffd700;
	font-size: 1.4rem;
}

.hot-band ul li .band-list .img {
    padding-bottom: 100%;
}

.hot-band ul li .band-list p {
	padding-top: 10px;
	color: #ffd700;
	text-align: center;
	line-height: 2rem;
	position: relative;
}
.hot-band ul li .band-list p span {
	display: inline-block;
	width: 2.6rem;
	height: 2.6rem;
	background: url(../../img/common/icon_number_active.png) no-repeat;
	background-size: 100%;
	position: absolute;
	left: 0;
	top: 0.4rem;
}
.hot-band ul li:nth-child(2) .band-list p span {
	background-position: 0 -2.6rem;
}
.hot-band ul li:nth-child(3) .band-list p span {
	background-position: 0 -5.2rem;
}
.hot-band ul li:nth-child(4) .band-list p span {
	background-position: 0 -7.8rem;
}