.content {
	height: -webkit-calc(100% - 41px);
	height: -moz-calc(100% - 41px);
	height: -ms-calc(100% - 41px);
	height: -o-calc(100% - 41px);
	height: calc(100% - 41px);
}

.left {
	display: inline-block;
	width: 49%;
	height: 100%;
	border-right: 1px solid #ffd700;
}
.left img {
    display: block;
    width: 12%;
	margin: 50% auto 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.right {
	display: inline-block;
	width: 50%;
	vertical-align: top;
}

.right form {
	width: 50%;
	margin: 50% auto 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.right form div.input {
	/*width: 100%;
	margin-top: -1px;
	padding: 0.8rem 1rem;
	border-top: 1px solid #ffd700;
	border-bottom: 1px solid #ffd700;*/
	font-size: 0;
}
.right form div.input span {
	color: #333;
	font-size: 2.4rem;
	vertical-align: middle;
}
.right form div.input input {
	width: -webkit-calc(100% - 2.4rem);
	width: -moz-calc(100% - 2.4rem);
	width: -ms-calc(100% - 2.4rem);
	width: -o-calc(100% - 2.4rem);
	width: calc(100% - 2.4rem);
	padding-left: 1rem;
	margin-top: 3px;
	color: #f2f2f2;
	font-size: 1.6rem;
	vertical-align: middle;
}
/*.right form div.input input::-webkit-input-placeholder {
	color: #333;
}
.right form div.input input::-moz-placeholder {
	color: #333;
}
.right form div.input input:-moz-placeholder {
	color: #333;
}
.right form div.input input:-ms-input-placeholder {
	color: #333;
}*/
/*.right form div.input label {
    display: block;
    color: #ffd700;
    margin: 0;
	font-size: 0.2rem;
    font-weight: lighter;
    text-align: right;
}*/

.right form div.other {
	font-size: 1.2rem;
}

.right form div.other div.checkbox {
	display: inline-block;
	padding-left: 1rem;
	margin: 0.5rem 0 2rem;
	color: #333;
	cursor: pointer;
}
.right form div.other div.checkbox span {
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	background: url(../../img/common/icon_checkbox.png) no-repeat;
	background-size: 100%;
	vertical-align: middle;
}
.right form div.other div.checkbox span.uncheck {
	background-position: 0% -5%;
}
.right form div.other div.checkbox span.checked {
	display: none;
	background-position: 0% 100%;
}
.right form div.other div.checkbox p {
	display: inline-block;
	vertical-align: middle;
}

.right form div.other a {
	display: inline-block;
	margin: 0.5rem 0 2rem;
	float: right;
}


.right form button {
	width: 100%;
	padding: 0.8rem 0;
	font-size: 1.6rem;
}

.right form p.register {
	margin-top: 0.5rem;
	color: #333;
	font-size: 1.2rem;
	text-align: right;
}