
/* -------------------- 搜索框 -------------------- */

.searchbox {
	width: -webkit-calc(100% - 223px);
	width: -moz-calc(100% - 223px);
	width: -ms-calc(100% - 223px);
	width: -o-calc(100% - 223px);
	width: calc(100% - 223px);
	display: inline-block;
	vertical-align: middle;
}
.searchbox input {
	width: -webkit-calc(100% - 39px);
	width: -moz-calc(100% - 39px);
	width: -ms-calc(100% - 39px);
	width: -o-calc(100% - 39px);
	width: calc(100% - 39px);
	padding: 10px 12px;
	background: none;
	border: 1px solid #333;
	border-right: none;
	border-radius: 0.3rem 0 0 0.3rem;
	box-shadow: none;
	color: #f2f2f2;
	vertical-align: middle;
}
.searchbox button {
	padding: 7px 8px 4px 8px;
	background: none;
    border: 1px solid #333;
	border-left: none;
	border-radius: 0 0.3rem 0.3rem 0;
    font-size: 2rem;
    outline: none;
	color: #333;
	vertical-align: middle;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.searchbox button:hover {
	color: #ffd700;
}


/* -------------------- 筛选条件 -------------------- */

.conditions {
	display: inline-block;
	margin-left: 10px;
	color: #333;
	text-align: right;
	vertical-align: middle;
}
.conditions span {
	display: inline-block;
	padding: 0 0.8rem;
	cursor: pointer;
}
.conditions span.active {
	color: #ffd700;
	cursor: text;
}


/* -------------------- 列表 -------------------- */

.keyword {
	color: #ffd700;
}


.head {
	margin-bottom: 0.8rem;
}
.head .title {
	display: inline-block;
	padding: 0.2rem 0.5rem;
	border-top: 1px solid #ffd700;
	border-left: 4px solid #ffd700; 
}
.head .more {
	padding-top: 0.4rem;
	float: right;
}


.notices,
.shows,
.bands {
	padding-top: 2rem;
}


.notices li {
	margin-top: 10px;
	padding: 0.5rem 1rem;
	border: 1px solid #333;
}
.notices li span.state,
.notices li span.time {
	display: inline-block;
	vertical-align: middle;
}
.notices li span.state {
	width: 6rem;
	color: #333;
	font-size: 2.4rem;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.notices li:hover span.state.yushou {
	color: #ffd700;
}
.notices li:hover span.state.quxiao {
	color: #f00;
}
.notices li:hover span.state.biangeng {
	color: #0f0;
}
.notices li p {
	display: inline-block;
	width: -webkit-calc(100% - 16rem);
	width: -moz-calc(100% - 16rem);
	width: -ms-calc(100% - 16rem);
	width: -o-calc(100% - 16rem);
	width: calc(100% - 16rem);
	vertical-align: middle;
	cursor: pointer;
}
.notices li span.time {
	width: 10rem;
	color: #333;
	font-size: 1.2rem;
	text-align: right;
}


.shows ul,
.bands ul {
	padding: 0 10px;
}
.shows ul li.col-xs-6,
.shows ul li.col-sm-3
.bands ul li.col-xs-6,
.bands ul li.col-sm-3 {
	padding: 0 5px;
	margin-bottom: 10px;
}
.shows ul li .show-list,
.bands ul li .band-list {
	padding: 10px;
	border: 1px solid #333;
	border-radius: 0.2rem;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.shows ul li .show-list:hover,
.bands ul li .band-list:hover {
	border: 1px solid #ffd700;
}
.shows ul li .show-list .img,
.bands ul li .band-list .img {
	width: 100%;
	height: 0;
	overflow: hidden;
	position: relative;
}
.shows ul li .show-list .img img,
.bands ul li .band-list .img img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


.shows ul li .show-list .img {
	padding-bottom: 142%;
}
.shows ul li .show-list p {
	margin-top: 5px;
	font-size: 1.2rem;
	line-height: 1.4rem;
}
.shows ul li .show-list p.name {
	font-size: 1.4rem;
}


.bands ul li .band-list .img {
    padding-bottom: 100%;
}
.bands ul li .band-list p {
	padding-top: 10px;
	text-align: center;
	line-height: 2rem;
	position: relative;
}