<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common/common.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common/frame.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/notice/notice.css">
</head>
<body>

<div id="gudao">	
	<!-- 导航条 -->
	<navbar></navbar>

	<!-- 内容 -->
	<div id="notice" class="container content">
		<!-- 筛选条件 -->
		<ul class="condition" v-on:click="getNoticeByType">
			<li><a class="active">全部</a></li>|<li><a>预售</a></li>|<li><a>取消</a></li>|<li><a>变更</a></li>
		</ul>
		<!-- 通知列表 -->
		<div v-show="!notices" class="no-data">
			<img src="__PUBLIC__/img/common/noData.png">
			<span></span>
			<p>没有相关数据</p>
		</div>
		<ul class="list">
			<li v-for="notice in notices">
				<span v-if="notice.notice_type == '1'" class="state yushou">预售/</span><span v-if="notice.notice_type == '2'" class="state quxiao">取消/</span><span v-if="notice.notice_type == '3'" class="state biangeng">变更/</span><p v-on:click="toShowDetail(notice.show_id)">{{notice.notice_content}}</p><span class="time">{{notice.notice_time}}</span>
			</li>
		</ul>
		<div class="no-more">
			<span></span>
			<p>没有更多数据</p>
		</div>
	</div>

	<!-- 底部 -->
	<back-to-top></back-to-top>
	<copyright></copyright>
</div>


<script type="text/javascript" src="__PUBLIC__/js/common/jquery-3.2.1.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/bootstrap.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/vue.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/component.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common/frame.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/notice/notice.js"></script>

<script>
$(function() {
});
</script>

</body>
</html>