<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
</head>
<body>
<script type="text/javascript" src="__PUBLIC__/js/common/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
$(function() {

	// 按页获取用通知
	// $.ajax({
	// 	url: "Notice/getNotices",
	// 	type: "GET",
	// 	dataType: "json",
	// 	data: {
	// 		"pageIndex": 1,
	// 		"pageSize": 10
	// 	},
	// 	success: function(result) {
	// 		console.log(result);
	// 	}
	// });

	// 新增通知
	// $.ajax({
	// 	url: "Notice/addNotice",
	// 	type: "POST",
	// 	dataType: "json",
	// 	data: {
	// 		"time": "2018-05-02",
	// 		"content": "啊啊啊啊啊啊啊啊啊啊啊啊",
	// 		"show": 1
	// 	},
	// 	success: function(result) {
	// 		console.log(result);
	// 	}
	// });

	// 删除通知
	// $.ajax({
	// 	url: "Notice/deleteNotice",
	// 	type: "POST",
	// 	dataType: "json",
	// 	data: {
	// 		"id": 27
	// 	},
	// 	success: function(result) {
	// 		console.log(result);
	// 	}
	// });

	// 修改通知
	// $.ajax({
	// 	url: "Notice/modifyNotice",
	// 	type: "POST",
	// 	dataType: "json",
	// 	data: {
	// 		"id": 4,
	// 		"type": 2,
	// 		"time": "2017-12-28"
	// 	},
	// 	success: function(result) {
	// 		console.log(result);
	// 	}
	// });
});
</script>
</body>
</html>